.calenderContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem; 
}

.coverImagecContainer{
  height: 95px;
  width: 95px;
  position: relative;
  justify-self: center;
}

.coverImage{
  height: 95px;
  width: 95px;
  border-radius: 0.2rem;
}

.coverImage:hover{
    cursor: pointer;
}

.coverImagecContainer > p {
  background-color: #ffffff;
  width: 35%;
  height: 35%;
  border-radius: 0 0 0 50%;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: -1px;
  margin-right: -1px;
  padding-top: 0.2rem;
  z-index: 1;
}

#doorOpened.coverImage{
  display: none;
}

#doorOpened{
  background-color: #18b948;
}

.memeImage{
  height: inherit;
  width: inherit;
  object-fit: contain;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  border-radius: 0.2rem;

}

@media only screen and (min-width: 600px) {
  .coverImagecContainer{
   height: 150px;
    width: 150px;
  }

  .coverImage{
    height: 150px;
    width: 150px;
  }

  .coverImagecContainer > p {
  padding-top: 0.7rem;
}
}