*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
--red-color: #9C0101;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: #ffffff;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--red-color);
  color: #ffffff;
  cursor: pointer;
  transition: border-color 0.25s;
}

.coverImagecContainer{
  height: 100px;
  width: 100px;
  position: relative;
}

.coverImage{
  height: 100px;
  width: 100px;
}

.coverImagecContainer > p {
  background-color: #ffffff;
  width: 35%;
  height: 35%;
  border-radius: 0 0 0 50%;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: -1px;
  margin-right: -1px;
  padding-top: 0.2rem;
}

#doorOpened{
  background-color: #159d15;
}


@media (prefers-color-scheme: dark) {

}
