*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
--red-color: #9C0101;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: #ffffff;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
  font-family: "Kaushan Script", cursive;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--red-color);
  color: #ffffff;
  cursor: pointer;
  transition: border-color 0.25s;
}

.redText{
  color: var(--red-color);
}


@media (prefers-color-scheme: dark) {

}
